.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    transition: 0.2s;
    animation: fadeIn 1s;
    cursor: pointer;
}

.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.food-item-desc{
    color: gray;
    font-size: 14px;
}

.food-item-price{
    margin: 10px 0px;
    font-weight: 600;
    font-size: 17px;
    color: black;
}

.food-item-image-container{
    position: relative;
}

.food-item-image-container .add{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-image-container .food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    /* border: 2px solid black; */
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px;
    border-radius: 30px;
    background-color: white;
}

.food-item-counter img{
    width: 30px;
}